<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <display-name>TD-Connexion et cookies</display-name>

    <context-param>
        <param-name>viewPrefix</param-name>
        <param-value>/WEB-INF/views/</param-value>
    </context-param>

    <context-param>
        <param-name>viewSuffix</param-name>
        <param-value>.jsp</param-value>
    </context-param>

    <listener>
        <listener-class>listener.FrontServletListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>SampleServlet</servlet-name>
        <servlet-class>control.SampleServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SampleServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FrontServlet</servlet-name>
        <servlet-class>control.FrontServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FrontServlet</servlet-name>
        <url-pattern>/controller/*</url-pattern>
    </servlet-mapping>
</web-app>
